@import "/src/scss/var";
.page-header-container {
  background-color: $white;
  // box-shadow: -3.8342px 4.79275px 26.8394px rgba(0, 0, 0, 0.2),
  //   inset -13.4197px -0.958549px 26.8394px -0.958549px rgba(149, 149, 149, 0.25);
  .title-container {

    h3 {
      font-weight: 700;
      font-size: 19.6549px;
      line-height: 24px;
      text-transform: uppercase;
      color: $black;
    }
  }

  .page-content {
    height: calc(100% - 60px);
    &::-webkit-scrollbar {
      display: none;
    }
    @media (min-width: $md_min) {
      height: 560px;
    }
  }

  .wrapper {
    background-color: $white;
    animation-name: showPage;
    transition: all 2s ease-in;
    animation-duration: .5s;
    opacity: 0;
    overflow: hidden;
    inset: 0;
    pointer-events: none;
}
}


@keyframes showPage {
  0% { opacity: .8;}
  25% { opacity: .6; }
  50% { opacity: .4 }
  75% { opacity: .2 }
  100% { opacity: 0}
}
