@import "/src/scss/var";

.item-container {
    .image-wrapper {
        width: 70px;
        height: 43px;
        background-color: $gray;
    }
  .title {
    font-style: normal;
    font-weight: 400;
    font-size: 11.5026px;
    line-height: 16px;
    color: $neutral;
  }
  .price {
    font-weight: 500;
    font-size: 13.4197px;
    line-height: 20px;
    color: $yellow;
  }
}
