@import "/src/scss/var";

.product-content-container {
  height: calc(100vh - 100px);
  .product-des {
    p {
      font-weight: 500;
      font-size: 11.2585px;
      line-height: 16px;
      color: $neutral;
    }

    span {
      font-weight: 500;
      font-size: 13.135px;
      line-height: 20px;
      color: $yellow;
    }
  }
}
