$black: #000000;
$gray4: #E3E3E3;
$white: #FFFFFF;
$yellow: #C38B45;
$textColor1: #5C6B74;
$textColor2: #A0A1A1;
$textColor3: #515151;

$gray: #D9D9D9;
$neutral: #455560;
$typographyText: rgba(0, 0, 0, 0.37);
$btnGray: #707070;
$rectangle1: #EAEAEA;
$bgColor: #A3A2A3;
$borderColor: #AAAAAA;

$xs_min: 320px;
$sm_min: 640px;
$md_min: 768px;
$lg_min: 1024px;
$xl_min: 1280px;
$xxl_min: 1536px;